.card {
  /* overflow-hidden */
  @apply overflow-hidden text-white aspect-[4/3] bg-black bg-opacity-10 relative rounded-md;
}
.card::before {
  left: var(--x, 0px);
  top: var(--y, 0px);
  content: '';
  /* background: red; */
  background: radial-gradient(closest-side circle, rgba(255, 255, 255, 0.6) 0%, transparent);
  @apply translate-x-[-50%] translate-y-[-50%] absolute w-full h-full z-[2] rounded-md;
}

.inner {
  @apply z-[3] absolute bg-[#222] inset-2 border-inherit flex items-center justify-center rounded-md;
}
