.containerX {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100vh;
}

.umxImg {
  margin: 0;
  background-size: 461px 605px;
  background-position: center;
  background-repeat: no-repeat;
  width: 461px;
  height: 605px;
}

.umxF1 {
  background-image: url(./iqooneo7-color-img1-md.png);
}

.umxF2 {
  background-image: url(./iqooneo7-color-img2-md.png);
}
.umxF3 {
  background-image: url(./iqooneo7-color-img3-md.png);
}

.blueBg {
  background-color: #effbfc;
}

.blackBg {
  background-color: #dae1e7;
}

.colorTxt {
  width: 230px;
  height: 100vh;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
